$bg-color:blue;
$section-padding:100px 0;
$large-icon-size:60px;
$medium-icon-size:30px;
$standard-overlay:rgba(0,0,0,.5);

.welcome,
.services,
.relax{
    &__content{
        padding:$section-padding;
    }
    &__content--pointer{
        cursor: pointer;
    }
    &__list{
        list-style: none;
        padding-left: 0;
        margin-left:0;
    }
    &__icon--large{
        font-size: $large-icon-size;
        font-weight: bold;
    }
    &__icon--medium{
        font-size: $medium-icon-size;
    }
}
.services{
    &__container{
        padding:$section-padding;
    }
    &__container__content{
        padding:0;
    }
}
.relax{
    position: relative;
    &__content--gearimg{
        background-image: url('../imgs/gear2.png');
        background-repeat:no-repeat;
        background-position:325% 50%;
    }
    &__content--bg{
        background-image: url('../imgs/relax-bg.png');
        background-color:rgba(0,0,0,.5);
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: overlay;
    }
}
.welcome{
    background-image: url(../imgs/welcome.bg.png);
    background-size:cover;
}

.overlay{
    background-color:rgba(0,0,0,.5);
}